body{
    margin: 0px;
    height: 100vh;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    
}

header{
    /* background-color:#382924; */
    /* background-color: #221916; */
    background-color: #281610;
    position: fixed;
    top: 0;
    width: 100%;
}

.header_fake{
    width: 100%;
    height: 65.67px;
}

.header_text{
display: flex;
justify-content: center;
}

.Yaddle_Head{
    margin: 5px 0px 0px 0px;
    color: #bfbfbf;
}

nav{
    display: flex;
    justify-content: center;
}

h4{
    margin:0;
}

.main_link{
    margin:0 5px 5px 5px;
}

main{
    /* margin: 0 15% 0 15%; */
    background-image: url(../img/yaddle_background.jpg);
    height: auto;
    min-height: inherit;
    padding: 2% 15% 2% 15%;
    box-sizing: border-box;
}

.content{
    /* background-color: rgba(207, 207, 207, 0.8); */
    background-color: hsla(15, 43%, 11%, 0.8);
    /* margin: 15% 0 0 0; */
    height: 100%;
    color: #bfbfbf;
    border-radius: 5%;
    display:flex;
    justify-content: center;
}

.conten2{
    margin: 20px;
}

.active{
    font-size: 1.3em;
}

a:link{
    color: #bfbfbf;
    text-decoration: none;
}

a:visited{
    color: #bfbfbf;
    text-decoration: none;
}

footer{
    background-color: #281610;
    color: #bfbfbf;
}