/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//*                                         MAIN                                       *//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

body{
    margin: 0px;
    height: 100vh;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    
}

header{
    background-color: #281610;
    position: fixed;
    top: 0;
    width: 100%;
}

.header_fake{
    width: 100%;
    height: 65.67px;
}

.header_text{
display: flex;
justify-content: center;
}

.Yaddle_Head{
    margin: 5px 0px 0px 0px;
    color: #bfbfbf;
}

nav{
    display: flex;
    justify-content: center;
}

h4{
    margin:0;
}

.main_link{
    margin:0 5px 5px 5px;
}

main{
    background-image: url(../img/yaddle_background.jpg);
    background-attachment: fixed;
    height: auto;
    min-height: inherit;
    padding: 2% 15% 2% 15%;
    box-sizing: border-box;
}

.content{
    background-color: hsla(15, 43%, 11%, 0.8);
    height: 100%;
    color: #bfbfbf;
    border-radius: 25px;
    display:flex;
    justify-content: center;
}

.content_wrapper{
    display: grid;
    height: 100%;
    width: 100%;
}

.content_index{
    margin: 20px;
}

.active{
    font-size: 1.3em;
}

a:link{
    color: #bfbfbf;
    text-decoration: none;
}

a:visited{
    color: #bfbfbf;
    text-decoration: none;
}

footer{
    background-color: #281610;
    color: #bfbfbf;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 200px;
}
.foottag{
    margin: 10px;
    border: 0px;
    border-left: 2px;
    padding-left: 10px;
    border-style: solid;
    border-color: #bfbfbf;
}

#farleft{
    border: 0px;
}

#footer_merch_link{
    text-decoration: underline;
}